<nav  ng-controller="menuCtrl" class="navbar navbar-custom navbar-fixed-top top-nav-collapse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navbarCollapsed=true"
                    ng-click="navbarCollapsed = !navbarCollapsed" data-toggle="collapse"
                    data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a du-smooth-scroll duration="2000" class="navbar-brand" href="#/">
                <i class="fa fa-headphones"></i> <span class="light">Studio</span> city
            </a>
        </div>

        <div class="collapse navbar-collapse navbar-right navbar-main-collapse" collapse="navbarCollapsed">
            <ul class="nav navbar-nav">
                <li class="hidden">
                    <a du-smooth-scroll duration="2000" href="#page-top"></a>
                </li>
                <li ng-show="authenticated">
                    <a href="" class="salutation">Hi, {{user.username}}</a>
                </li>
                <li ng-show="authenticated">
                    <a href="#/studios">My Studios</a>
                </li>
                <li ng-show="authenticated">
                    <a href="" ng-click="logout()">Logout</a>
                </li>
                <li ng-show="!authenticated">
                    <a href="" ng-click="login()">Login</a>
                </li>
                <li du-scrollspy="signin" offset="200" ng-show="!authenticated">
                    <a du-smooth-scroll duration="2000" href="#signin" ng-click="navbarCollapsed = true">Sign In</a>
                </li>
                <li du-scrollspy="about" offset="200">
                    <a du-smooth-scroll duration="2000" href="#about" ng-click="navbarCollapsed = true">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section class="container" style="padding-top: 70px;">
    <div class="row">
        <div class="col-md-2">
            <button type="button" class="btn btn-primary" ng-click="editStudio()">
                <span class="fa fa-plus"></span> Add New
            </button>
        </div>
    </div>
    <div class="row result-article" ng-repeat="studio in studios">
        <article>
            <div class="col-lg-12">
                <button type="button" class="btn btn-danger pull-right"
                        ng-click="removeStudio(studio)">
                    <span class="fa fa-trash-o"></span>
                </button>
                <button type="button" class="btn btn-primary pull-right"
                        ng-click="editStudio(studio)">
                    <span class="fa fa-pencil"></span>
                </button>
                <h3 class="studio-header">{{studio.name}}</h3>
            </div>
            <div class="col-lg-4 text-left">
                <figure>
                    <img ng-src="/uploaded/{{studio.logoUrl}}" class="img-responsive"/>
                </figure>
            </div>
            <div class="col-lg-4 text-left">
                <p class="section">{{studio.description}}</p>
            </div>
            <div class="col-lg-4 text-left">
                <p ng-if="studio.street"><i class="fa fa-map-marker"></i> {{studio.street}} {{studio.house}}, {{studio.city}}</p>

                <p ng-if="studio.phone"><i class="fa fa-phone"></i> {{studio.phone}}</p>

                <p ng-if="studio.email"><i class="fa fa-envelope-o"></i> {{studio.email}}</p>

                <p ng-if="studio.site"><i class="fa fa-globe"></i> <a ng-href="{{studio.site}}">{{studio.site}}</a></p>

                <p ng-if="studio.workingHours"><i class="fa fa-clock-o"></i> {{studio.workingHours}}</p>
            </div>
        </article>
    </div>
</section>