<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">StudioCity</h1>

                    <p class="intro-text">The best way to find the place for your creativity.<br>Created by Symphodia.
                    </p>
                    <a du-smooth-scroll duration="2000" href="#search" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="container">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="studioName" class="col-lg-2 col-lg-offset-2 control-label">Name</label>
            <div class="col-lg-6">
                <input type="text" class="form-control" id="studioName" ng-model="newStudio.name">
            </div>
        </div>
        <div class="form-group">
            <label for="studioDescription" class="col-lg-2 col-lg-offset-2 control-label">Description</label>
            <div class="col-lg-6">
                <textarea rows="5" class="form-control" id="studioDescription" ng-model="newStudio.description"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="studioStreet" class="col-lg-2 col-lg-offset-2 control-label">Street</label>
            <div class="col-lg-6">
                <input type="text" class="form-control" id="studioStreet" ng-model="newStudio.street">
            </div>
        </div>
        <div class="form-group">
            <label for="studioHouse" class="col-lg-2 col-lg-offset-2 control-label">House</label>
            <div class="col-lg-2">
                <input type="text" class="form-control" id="studioHouse" ng-model="newStudio.house">
            </div>
        </div>
        <div class="form-group">
            <label for="studioIndex" class="col-lg-2 col-lg-offset-2 control-label">Index</label>
            <div class="col-lg-2">
                <input type="text" class="form-control" id="studioIndex" ng-model="newStudio.index">
            </div>
        </div>
        <div class="form-group">
            <label for="studioPhone" class="col-lg-2 col-lg-offset-2 control-label">Phone</label>
            <div class="col-lg-4">
                <input type="text" class="form-control" id="studioPhone" ng-model="newStudio.phone">
            </div>
        </div>
        <div class="form-group">
            <label for="studioEmail" class="col-lg-2 col-lg-offset-2 control-label">Email</label>
            <div class="col-lg-4">
                <input type="text" class="form-control" id="studioEmail" ng-model="newStudio.email">
            </div>
        </div>
        <div class="form-group">
            <label for="studioSite" class="col-lg-2 col-lg-offset-2 control-label">Site</label>
            <div class="col-lg-6">
                <input type="text" class="form-control" id="studioSite" ng-model="newStudio.site">
            </div>
        </div>
        <div class="form-group">
            <label for="studioWorkingHours" class="col-lg-2 col-lg-offset-2 control-label">Working Hours</label>
            <div class="col-lg-6">
                <input type="text" class="form-control" id="studioWorkingHours" ng-model="newStudio.workingHours">
            </div>
        </div>
        <div class="form-group">
            <label for="studioLongitude" class="col-lg-2 col-lg-offset-2 control-label">Longitude</label>
            <div class="col-lg-2">
                <input type="text" class="form-control" id="studioLongitude" ng-model="newStudio.longitude">
            </div>
        </div>
        <div class="form-group">
            <label for="studioLatitude" class="col-lg-2 col-lg-offset-2 control-label">Latitude</label>
            <div class="col-lg-2">
                <input type="text" class="form-control" id="studioLatitude" ng-model="newStudio.latitude">
            </div>
        </div>
        <button type="submit" class="btn btn-default" ng-click="save(newStudio)">Submit</button>
    </form>
</section>

<section class="container">
    <div class="row result-article" ng-repeat="studio in studios">
        <article>
            <div class="col-lg-12"><h3 class="studio-header">{{studio.name}}</h3></div>
            <div class="col-lg-4 text-left">
                <figure>
                    <img ng-src="{{studio.logoUrl}}" class="img-responsive"/>
                </figure>
            </div>
            <div class="col-lg-4 text-left">
                <p class="section">{{studio.description}}</p>
            </div>
            <div class="col-lg-4 text-left">
                <p ng-if="studio.street"><i class="fa fa-map-marker"></i> {{studio.street}} {{studio.house}}</p>

                <p ng-if="studio.phone"><i class="fa fa-phone"></i> {{studio.phone}}</p>

                <p ng-if="studio.email"><i class="fa fa-envelope-o"></i> {{studio.email}}</p>

                <p ng-if="studio.site"><i class="fa fa-globe"></i> <a ng-href="{{studio.site}}">{{studio.site}}</a></p>

                <p ng-if="studio.workingHours"><i class="fa fa-clock-o"></i> {{studio.workingHours}}</p>
                <ui-gmap-google-map center='studio.map' zoom='15' options="options">
                    <ui-gmap-marker coords="studio.map" idKey="studio.id"/>
                </ui-gmap-google-map>
            </div>
        </article>
    </div>
</section>